@font-face {
  font-family: lato-capitals;
  src: url(https://gitlab.com/sorann/testing_page/blob/master/fonts/OcheCapitals-Regular.woff);
}

body {
  background-color: #31383d;
  max-width: 1280px;
  font-family: 'lato-capitals';
}


.text {
  font-family: 'lato-capitals';
  color: #ffffff;
}

.logo {
	position:fixed;
	top:0;
	left:0;
}

.intro {
  position:fixed;
	top:0;
	left:0;
}

.title {
    position: absolute;
    left: 310px;
    top: 40px;
    font-family: 'lato-capitals';
    color: #ffffff;
}

.btn-group1 {
        text-align: center;
	    margin-bottom: 40px;
        font-size: 22px;
        border-radius: 10px;
        font-family: 'Lato-Regular';
        position: absolute;
        left: 60px;
        top: 120px;
        color: #31383d;
        
    }
    
.btn-group2 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 22px;
        font-family: 'Lato-Regular';
        border-radius: 10px;
        position: absolute;
        left: 60px;
        top: 250px;
        color: #31383d;
    }
.btn-group1 .Routine-btn:hover {background: #e0e0e0;}
.btn-group1 .Camera-btn:hover {background: #e0e0e0;}
.btn-group1 .Touch-btn:hover {background: #e0e0e0;}
.btn-group2 .Monitor-btn:hover {background: #e0e0e0;}
.btn-group2 .Errors-btn:hover {background: #e0e0e0;}
.btn-group2 .IT-btn:hover {background: #e0e0e0;}

.btn-group1 .Routine-btn{
    text-align: center;
    font-family: 'Lato-Regular';
    position: absolute;
    left: 100px;
    top: 0px;
    color: #31383d;
    height:150px;
    width:150px;
    margin:0px;
    padding:0px;
    border-radius: 25px;
    background-color: #66ffff;
    font-size: 22px;
    }
    
.btn-group1 .Camera-btn{
    text-align: center;
    font-family: 'Lato-Regular';
    position: absolute;
    left: 260px;
    top: 0px;
    color: #31383d;
    height:150px;
    width:150px;
    margin:0px;
    padding:0px;
    border-radius: 25px;
    background-color: #66ffff;
    font-size: 22px;
    }
    
.btn-group1 .Touch-btn{
    text-align: center;
    font-family: 'Lato-Regular';
    position: absolute;
    left: 420px;
    top: 0px;
    color: #31383d;
    height:150px;
    width:150px;
    margin:0px;
    padding:0px;
    border-radius: 25px;
    background-color: #66ffff;
    font-size: 22px;
    }
    
.btn-group2 .Monitor-btn{
    text-align: center;
    font-family: 'Lato-Regular';
    position: absolute;
    left: 100px;
    top: 30px;
    color: #31383d;
    height:150px;
    width:150px;
    margin:0px;
    padding:0px;
    border-radius: 25px;
    background-color: #66ffff;
    font-size: 22px;
    }
    
.btn-group2 .Errors-btn{
     text-align: center;
    font-family: 'Lato-Regular';
    position: absolute;
    left: 260px;
    top: 30px;
    color: #31383d;
    height:150px;
    width:150px;
    margin:0px;
    padding:0px;
    border-radius: 25px;
    background-color: #66ffff;
    font-size: 22px;
    }
    
.btn-group2 .IT-btn{
    text-align: center;
    font-family: 'Lato-Regular';
    position: absolute;
    left: 420px;
    top: 30px;
    color: #31383d;
    height:150px;
    width:150px;
    margin:0px;
    padding:0px;
    border-radius: 25px;
    background-color: #66ffff;
    font-size: 22px;
}

.hidden>div {
	display:none;
}

.visible>div {
	display:block;
}
